<!doctype html>
<html>

<head>
  <title>Kandidaatvinden</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav>
    <div class="left">
      <img src="https://kv-staging.lifely.nl/assets/img/Brand.png" alt="">
      <h1>Kandidaatvinden</h1>
    </div>
    <ul>
      <li>
        <p>chat</p>
      </li>
      <li>
        <p>kandidaten</p>
      </li>
    </ul>
    <a class="usert" href="">user <div class="imageholder"></div></a>
  </nav>
<div class="inlok">
<div class="inlokModal">
<div class="inlokmodalcontent">
  <div class="left">
    <img src="https://kv-staging.lifely.nl/assets/img/Brand.png" alt="">
    <h1>Kandidaatvinden</h1>
  </div>
<div class="topmodal">
  <label for="email">E-mail</label>
  <input id="email"type="text" placeholder="Voer e-mailadres in"name="" value="3@moderator.lifely.nl">
  <label for="wachtwoord">Wachtwoord</label>
  <input id="wachtwoord"type="text" name="" value="*****">
  <button class="versturen"type="button" name="button">Inloggen</button>
</div>

    </div>
  </div>
</div>
  <main>
    <div class="kv-ChatSidebar">
      <ul>
        <li><a href="kvlink">
            <h2>Test 1</h2>
            <p class="latest-msg">Last message</p>
            <p class="timestamp">1 uur geleden</p>
          </a></li>
        <li><a href="kvlink">
            <h2>Test 2</h2>
            <p class="latest-msg">Last message</p>
            <p class="timestamp">4 dagen geleden</p>
          </a></li>
        <li><a href="kvlink">
            <h2>Test 3</h2>
            <p class="latest-msg">Last message</p>
            <p class="timestamp">4 dagen geleden</p>
          </a></li>
        <li><a href="kvlink">
            <h2>Test 4</h2>
            <p class="latest-msg">Last message</p>
            <p class="timestamp">4 dagen geleden</p>
          </a></li>
        <li><a href="kvlink">
            <h2>Test 5</h2>
            <p class="latest-msg">Last message</p>
            <p class="timestamp">4 dagen geleden</p>
          </a></li>
        <li><a href="kvlink">
            <h2>Test 6</h2>
            <p class="latest-msg">Last message</p>
            <p class="timestamp">4 dagen geleden</p>
          </a></li>
      </ul>
    </div>

    <div class="chatWindow">
      <header>
        <div class="chatheader">
          <a href="">Eva Candidate</a>
          <span class="loc">Noord-Holland</span>
          <span class="chatId">#24</span>
        </div>
        <div class="chatsubheader">
          <span class="chatStatus">inactief</span>
          <a class="chatDelete" href="#">Verwijder chat</a>
        </div>
      </header>

      <div class="chatMessages">

      </div>

      <form class="plebchat" action="">
        <textarea class="inpuds" name="message" placeholder="Schrijf een bericht..."></textarea>
<button class="versturen sent" type="button">Versturen</button>
    </form>

      <form class="chatForm" action="">
        <textarea class="inpud" name="message" placeholder="Schrijf een bericht..."></textarea>
        <div class="buttonHolder">

          <div class="addStuff">
            <span class="adderall">+</span>
            <div class="tooltip hidden">
              <button class="custom" type="button" name="button">Custom field toevoegen</button>
              <button type="button" name="button">Bedrijven voorstellen</button>
              <button type="button" name="button">Privacy bericht versturen</button>
            </div>
            <div class="tooltipModal hidden">
              <div class="modalcontent">
                <div class="modalheader">
                  <h2>Nieuw custom field</h2>
                  <button class="exer" type="button" name="button">+</button>
                </div>
                <!-- <div class="modalsearch">
                  <label for="search">Zoeken</label>
                  <input placeholder="Zoek eerder gebruikte inputs" autocomplete="off" id="search" type="text">
                </div> -->
                <div class="modalholder">
                  <article class="cont">
                    <input id="create" placeholder="Custom field name" type="text" autocomplete="off">
                    <label for="">Input type</label>
                    <select class="customselect" name="">
                      <option value="text">Text</option>
                      <option value="select">Select</option>
                      <option value="file">File</option>
                    </select>
                    <!-- <input type="file" name="" value="">
                  <input type="text" name="" value=""> -->
                    <div class="numero hidden">
                      <label for="number">Hoeveelheid inputs</label>
                      <select name="" id="">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                      <div class="optionHolder">

                      </div>
                    </div>

                    <button value="cont"class="specialbutt" type="button" name="button">+</button>
                    <button value="cont"class="remot" type="button" name="button">x</button>
                  </article>
                  <article class="Dropdown predicts Opleidingsniveau">
                    <h3>Opleidingsniveau</h3>
                    <select name="" id="">
                      <option value="">Wo</option>
                      <option value="">Hbo</option>
                      <option value="">Mavo</option>
                    </select>
                    <button value="Opleidingsniveau"class="create" type="button" name="button">+</button>
                    <button value="Opleidingsniveau"class="remot" type="button" name="button">x</button>
                  </article>
                  <article class="File-upload predicts">
                    <h3>Cv</h3>
                    <input type="file" name="" value="">
                    <button value="File-upload" class="create" type="button" name="button">+</button>
                    <button value="File-upload" class="remot" type="button" name="button">x</button>
                  </article>

                  <article class="Dropdown predicts Codeer">
                    <h3>Codeer talen</h3>
                    <select multiple name="" id="">
                      <option value="Javascript">Javascript</option>
                      <option value="HTML">HTML</option>
                      <option value="Css">Css</option>
                      <option value="java">java</option>
                      <option value="Python">Python</option>
                      <option value="React">React</option>
                      <option value="C++">C++</option>
                      <option value="Typescript">Typescript</option>
                    </select>
                    <p>Hold down the Command button to select multiple options.</p>
                    <button value="Codeer"class="create" type="button" name="button">+</button>
                    <button value="Codeer"class="remot" type="button" name="button">x</button>
                  </article>
                  <article class="Dropdown predicts Talen">
                    <h3>Welke talen spreek je</h3>
                    <select multiple name="" id="">
                      <option value="">Nederlands</option>
                      <option value="">Engels</option>
                      <option value="">Frans</option>
                      <option value="">Engels V.S (simplified)</option>
                      <option value="">Spaans</option>
                    </select>
                    <p>Hold down the Command button to select multiple options.</p>
                    <button value="Talen"class="create" type="button" name="button">+</button>
                    <button value="Talen"class="remot" type="button" name="button">x</button>
                  </article>
                </div>
            <div class="closer">
                <button class="exer" type="button" name="button">Annuleren</button>
            </div>
              </div>
            </div>
          </div>


          <button class="versturen send" type="button">Versturen</button>
        </div>
      </form>
    </div>

    <div class="candidateForm">
      <legend>
        <label for="naam">Naam</label>
        <input id="naam" placeholder="Voornaam" type="text">
        <input placeholder="Tussenvoegsel" type="text">
        <input placeholder="Achternaam" type="text">
      </legend>

      <legend>
        <label for="regio">Regio</label>
        <select name="regio" id="regio">
          <option value="">Noord-Holland</option>
          <option value="">Zuid-Holland</option>
          <option value="">Utrecht</option>
          <option value="">Drenthe</option>
          <option value="">Noord-Brabant</option>
          <option value="">Flevoland</option>
          <option value="">Overijssel</option>
          <option value="">Zeeland</option>
          <option value="">Friesland</option>
          <option value="">Gelderland</option>
          <option value="">Groningen</option>
          <option value="">Limburg</option>
        </select>
      </legend>

      <legend>
        <label for="Contactgegevens">Contactgegevens</label>
        <input type="text" name="Contactgegevens" placeholder="Email">
        <input type="tel" name="Telefoonnummer" placeholder="Telefoonnummer">
      </legend>

      <legend>
        <label for="functies">Functies</label>
        <select id="functies" name="functies">
          <option value="">Test functie 1</option>
          <option value="">Test functie 2</option>
          <option value="">Test functie 3</option>
          <option value="">Test functie 4</option>
          <option value="">Test functie 5</option>
        </select>
      </legend>

      <legend>
        <label for="bedrijven">Interessante bedrijven</label>
        <select id="bedrijven" name="bedrijven">
          <option value="">bedrijf 1</option>
          <option value="">bedrijf 2</option>
          <option value="">bedrijf 3</option>
          <option value="">bedrijf 4</option>
          <option value="">bedrijf 5</option>
          <option value="">bedrijf 6</option>
          <option value="">bedrijf 7</option>
        </select>
      </legend>

      <legend>Goede lead</legend>
      <div class="radioHolder">
        <label for="lead-yes">Ja<input id="lead-yes" type="radio" name="lead" value="yes"></label>
        <label id="nope" for="lead-no">Nee<input id="lead-no" type="radio" name="lead" value="no"></label>
      </div>
      <label id="notes" for="notes">Notes</label>
      <textarea placeholder="Voer extra notities in" name="name" rows="8" cols="60"></textarea>
    </div>
  </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="js/script.js"></script>

</html>
